#title {
    background-color: #FF4C68;
    color: white;
}

/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Ubuntu', sans-serif;
*/

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}

body {
    font-family: 'Montserrat-Black', sans-serif;
}


.NavBar-Title-Container {
    padding: 3% 15% 8%;
}


/* Navigation-Bar */

.navbar {
    padding-bottom: 2rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Title-Image */

.title-img {
    width: 22%;
    margin-left: 5%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
}

/* Features */

.features-container{
    margin-top: 0%;
    padding: 5% 13%;
    height: auto;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

.features-container h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.features-container p {
    color: #8F8F8F;
}

.features-card {
    padding: 5%;
}

.features-icon {
    transform: scale(5);
    margin: 3rem;
    color: #EF8172;
}

.features-icon:hover {
    color: #FF4C68;
}

/* Testimonials */

#testimonials {
    padding: 0 5%;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #EF8172;
}

#testimonials h2 {
    color:white;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    padding: 1rem;
}

.carousel-card{
    padding: 10% 16% 5%;
}


/* Press */

#press{
    background-color: #EF8172;
    text-align: center;
}

.press-logo {
    width: 15%;
    padding: 2rem 2rem 5rem;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-card {
    padding: 4%;
}


/* Call to Action*/
#cta {
    text-align: center;
    background-color: #FF4C68;
    padding: 15% 20% 10%;
}

#cta h2{
    color: white;
    font-size: 3.5rem;
}

.cta-btn {
    margin-top: 55%;
}

/* Footer */

#footer {
    text-align: center;
    padding: 3% 20% 2%;
}

.footer-icon {
    padding: 1.2rem 1.5rem 1.5rem;
    transform: scale(1.8);
}

@media (max-width: 990px) {
    
    h1{
        font-size: 3.0rem;
    }
    
    h2 {
        font-size: 2.0rem;
    }

    .NavBar-Title-Container {
        text-align: center;
        padding: 3% 15% 8%;
    }

    .title-img {
        width: 50%;
        margin-left: 5%;
        transform: rotate(0);
        position: static;
    }

    .press-logo {
        width: 15rem;
        padding: 2rem 2rem 5rem;
    }

    .testimonial-image{
        width: 35%;
    }

    #cta h2{
        color: white;
        font-size: 2rem;
    }
}

